  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .image{
      background-image: url('./design.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100vh;
  }
  h1{
      color: white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 200px;
      font-size: 80px;
      letter-spacing: 2px;
      word-spacing: 8px;
  }
  p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px; 
    font-size: 20px;
  }